{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "trailingComma": "none"
}
